{{ if eq .chezmoi.os "darwin" }}
[".config/hammerspoon/Spoons/FnMate.spoon"]
    type = "archive"
    url = "https://github.com/Hammerspoon/Spoons/raw/master/Spoons/FnMate.spoon.zip"
    stripComponents = 1
    exact = true
{{ end -}}
